.feedbackContainer {
  display: flex;
  flex-direction: column;
}
.feedbackQuestion {
  text-align: center;
  color: #0f172a;
  font-size: 20px;
  font-weight: bold;
}
.emojiList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.emojiButton {
  border: none;
  background-color: white;
  cursor: pointer;
  outline: none;
}
.emoji {
  width: 50px;
  height: 50px;
}
.emojiName {
  color: #1e293b;
  font-size: 15px;
}
.thankyouContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loveEmoji {
  width: 60px;
  height: 60px;
}
.thankyouText {
  text-align: center;
  color: #0f172a;
  font-size: 25px;
}
.description {
  text-align: center;
  color: #0f172a;
  font-size: 15px;
}
@media screen and (min-width: 992px) {
  .thankyouText {
    font-size: 35px;
  }
}
.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
}
.feedbackCard {
  background-color: white;
  border-radius: 12px;
  padding: 24px;
}
